.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: gold;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-text-stroke: 3px silver;
}

h3 {
  color: gold;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  -webkit-text-stroke: 3px silver;
}

p {
  color: gold;
  font-size: 40px;
  font-weight: bold;
  margin: 5px 0;
  -webkit-text-stroke: 3px silver;
}

.flashcard-container {
  perspective: 600px;
  width: 600px;
  height: 400px;
  margin: 40px auto;
}

.flashcard.flipped {
  transform: rotateX(180deg);
}

.flashcard-back {
  transform: rotateX(180deg);
}

.flashcard-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.flashcard {
  width: 600px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  transform-origin: center center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.start {
  background-color: white;
  color: black;
}

button {
  margin: 10px;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: black;
  transform: scale(1.05);
}

.language { background-color: Red; }
.fire { background-color: Orange; }
.cs { background-color: Yellow; }
.geo { background-color: Green; }
.food { background-color: lightskyblue; }
.game { background-color: Purple; }
.random { background-color: Silver; }
.celeb { background-color: Gray; }
.dog { background-color: Magenta; }

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}